.courier-green {
  font-family: 'Courier New', Courier, monospace;
  color: green;
}

.italique-brown {
  font-style: italic;
  color: brown;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 25%;
}

form span {
  font-size: 25px;
  margin: 15px;
}

#bloc {
  height: fit-content;
  width: fit-content;
  background-color: yellow;
}

#bloc > h1, h2 {
  color: red;
  font-weight: bold;
}

#bloc > b {
  color: green;
}

#bloc > p {
  color: blue;
}

.p2 {
  color: orange !important;
}

#bloc > p > input[type='text'] {
  background-color: green;
}

p > a {
  color: gray;
  text-decoration: none;
}

dt:not(.la_classe) {
  background-color: rgba(255, 0, 0, 0.2);
}

dd:not(#mon_id) {
  background-color: rgba(0, 255, 0, 0.2);
}

h1 > em {
  background-color: rgba(0, 255, 0, 0.2);
}

p > q {
  background-color: rgba(255, 230, 0, 0.3);
}

.ma_classe ~ q {
  background-color: rgba(255, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  width: 30%;
}

tbody {
  border: red 3px solid;
}

table > caption {
  text-align: start;
  color: green;
}

table tr:nth-child(1) {
  background-color: black;
  color: white;
}

table tr {
  background-color: rgba(0, 255, 0, 0.2)
}

table td {
  border: gray 2px solid
}

.ul-custom {
  list-style: url('/assets/img/puce.png');
}

.globe-ul {
  list-style: none;
}

.globe-ul > li {
  display: flex;
  align-items: center;
}

.globe-ul > li > span {
  font-size: 25px;
}

#custom-table {
  width: 30%;
}

#custom-table > tbody {
  border-color: steelblue;
}

#custom-table th {
  border: 1px solid steelblue;
  background-color: #c8e2fe;
  
}

#custom-table td {
  background-color: white;
}

#custom-table tr:nth-child(1) {
  background-color: #eff6ff;
}
