.courier-green {
  font-family: 'Courier New', Courier, monospace;
  color: green;
}

.italique-brown {
  font-style: italic;
  color: brown;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 25%;
}

form span {
  font-size: 25px;
  margin: 15px;
}

#bloc {
  height: fit-content;
  width: fit-content;
  background-color: yellow;
}

#bloc > h1, h2 {
  color: red;
  font-weight: bold;
}

#bloc > b {
  color: green;
}

#bloc > p {
  color: blue;
}

.p2 {
  color: orange !important;
}

#bloc > p > input[type='text'] {
  background-color: green;
}

p > a {
  color: gray;
  text-decoration: none;
}

dt:not(.la_classe) {
  background-color: rgba(255, 0, 0, 0.2);
}

dd:not(#mon_id) {
  background-color: rgba(0, 255, 0, 0.2);
}

h1 > em {
  background-color: rgba(0, 255, 0, 0.2);
}

p > q {
  background-color: rgba(255, 230, 0, 0.3);
}

.ma_classe ~ q {
  background-color: rgba(255, 0, 0, 0.2);
}

table {
  border-collapse: collapse;
  width: 30%;
}

tbody {
  border: red 3px solid;
}

table > caption {
  text-align: start;
  color: green;
}

table tr:nth-child(1) {
  background-color: black;
  color: white;
}

table tr {
  background-color: rgba(0, 255, 0, 0.2)
}

table td {
  border: gray 2px solid
}

.ul-custom {
  list-style: url('/assets/img/puce.png');
}

#globe-ul {
  margin-left: 90px;
  list-style: url('/assets/img/globe.jpeg');
}

#globe-ul li {
  position: relative;
}

#globe-ul li span{
  position: absolute;
  bottom: 45%
}

#custom-table {
  width: 30%;
}

#custom-table > tbody {
  border-color: steelblue;
}

#custom-table th {
  border: 1px solid steelblue;
  background-color: #c8e2fe;
  
}

#custom-table td {
  background-color: white;
}

#custom-table tr:nth-child(1) {
  background-color: #eff6ff;
  color: black;
}

.green-box  {
  position: relative;
  width: 25%;
  height: fit-content;
  background-color: greenyellow;
}

.text-green-box {
  padding: 10px;
}

.float-box {
  background-color: yellow;
  width: 20%;
  padding: 5px;
  height: fit-content;
  float: right;
}

.blue-box {
  padding: 10px;
  height: 30%;
  width: 15%;
  background-color: blue;
}

.blue-box .text {
  height: 100%;
  width: 65%;
    background-color: white;
}

.blue-box > aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8e2fe;
  float: right;
}

.blue-box > aside > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.green-box2  {
  position: relative;
  width: 25%;
  padding-bottom: 20px;
  background-color: greenyellow;
}

.text-green-box2 {
  padding: 10px;
}

.float-box2 {
  background-color: yellow;
  width: 20%;
  padding: 5px;
  height: fit-content;
  float: right;
}

.clear-fix {
  clear: right;
}

.green-box3  {
  position: relative;
  width: 25%;
  height: fit-content;
  background-color: greenyellow;
}

.text-green-box3 {
  padding: 10px;
}

.float-box3 {
  position: absolute;
  background-color: yellow;
  width: 20%;
  padding: 5px;
  height: fit-content;
  float: right;
}

.blue-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 30%;
  width: 15%;
  background-color: blue;
}

.blue-box2 .text2 {
  height: 91%;
  width: 95%;
    background-color: white;
}

.blue-box2 > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8e2fe;
  height: 25px;
  width: 100%;
}

.blue-box2 > nav > ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

#link::after {
  content: url('/assets/img/puce.png')
}

#zoom-img {
  height: 100px;
  width: auto;
}

#zoom-img:hover {
  height: 150px;
}